*{font-family:Georgia, 'Times New Roman', Times, serif;}

.home{
  margin-top:20vw!important;
}
.paf{color: #c79b2d!important;}
.navbar{
    background-color: #040855;
}

.l{
  font-size:14px;
  color:#df0000!important;
}
.content1{
    background:linear-gradient( to top, #02021790, #040855, #020217);
    box-shadow: 4px 5px 6px 3px #00000080!important;
}
.navt{
   width: 336px!important; 
   height: 100%!important;
   background: transparent!important;

}

.img-fluid {
    background-repeat: space!important;
    background-size: 100%!important;
    display: flex !important;
}

.page-link{
   background: #040860 !important;
   color: #fff!important;
   border: 1px solid #000 !important;
}

.page-link:hover{
     color:#c79b2d!important;
    background: #000030!important;
    box-shadow: 4px 5px 6px 3px rgba(26, 26, 26, 0.502);
  
}
.page-link:focus{
     color:#c79b2d!important;
    background: #000030!important;
    box-shadow: 4px 5px 6px 3px rgba(26, 26, 26, 0.502);
  
}

.baa >a {
  border: none!important;
  text-decoration: none!important;
  list-style: none !important;
  color: #fff!important;

}


.modal-title{
    color: rgb(244, 247, 249) !important;

}

.navbar-brand >b{
    color:#fff ;
}


.navbar-brand >b:hover{
    color:rgb(214, 214, 214) ;
}
.sidebar header{
  position: relative;
}

.sidebar header .image-text{
  display: flex;
  align-items: center;
  margin-left: 15px!important;
}

.sidebar .image img{
  min-width: 60px;
  display: flex;
  align-items: center;
  top:0!important;
}
header .image-text .test{
  display: flex;
  flex-direction: column;
  padding-left: 5px!important;
}

header .test{
  margin-left: 25px!important;
}
header .test .name{
  font-weight: 400;
  color: #fff;
}
header .test .name2{
  color: #c79b2d;
}

.card{
  width: 100%;
  background: #fff;
}


.sidebar-nav{
  width: 100%;
  margin-left: none!important;

}
.nombre{
  color: #fff!important;
   transition:all 0.4s ease;
}

.nombre:hover{
  color: #c79b2d!important;
}

.nombre:focus{
  color: #c79b2d!important;
}


.icon{
  font-size: 22px;
  padding-right: 10px;
}
.icon00{
  font-size: 35px;
}

.icon33{
  color: #fff !important;
   transition:all 0.5s ease;
}

.icon33:hover{
  color: #c79b2d !important;
  font-size: 55px!important;

}
.PP{
  color: #040855!important;
  
}

.card-icon{
  border-radius: 100%!important;
   color: #c79b2d !important;
   border:5px solid #c79b2d;
}

.icon00:hover{
  font-size: 39px;
}

.icon01{
  font-size: 22px;
}

.icon01:hover{
  font-size: 24px;
}
.icon999:hover{
  color: #c79b2d !important;
}

.ii{
   font-size: 24px;
   color: #fff!important;

}

.ii:hover{
   color:#c79b2d!important;

}

.icon3{
 font-size: 30px;
  color: #fff;
}
.icon2{
  font-size: 20px;
  padding-left: 2px;
  padding-top: 1px;
  justify-content: flex-end;
}

.nav-item {
  list-style: none !important;
}

.nav-item >a{
    color:#fff !important;
    text-decoration: none!important;
    list-style: none !important;
    padding: 6px;
    margin-bottom: 10px;
    margin-right: 12px !important;
    transition:all 0.5s ease;
    

    }
    .nav-item >a:hover{
        color: #c79b2d !important;
        background: #0303246d !important;
     border-radius: 4px;
        }
        .nav-item>a:focus{
            color: #c79b2d !important;
            background: #0303246d !important;
            border-radius: 4px;
            }


.nav-content{
   list-style: none !important;
   transition:all 0.4s ease;
   margin-top: 4px!important;
   margin-right: 20px !important;
   background: #03032c9b !important;
   border-radius: 4px;
    margin-bottom: 10px!important;
}

.nav-content>li>:hover{
    color: #c79b2d !important;
    background: #03032c9b !important;
     border-radius: 4px;
}
.nav-content>li>:focus{
    color: #c79b2d !important;
    background: #03032c9b !important;
     border-radius: 4px;
}

.nav-content>li>a{
  padding-left: 20px!important;

     }



.dropdown-item>a{
    padding-left: 3px!important;
    margin-top: 3px!important;
}

.btnP{
    background:#040855!important;
    color: #fff;
}
.btnP:hover{
    background:#100740 !important;
    box-shadow: 2px 6px 7px 4px rgb(199, 198, 198);
    color: #fff;
}

.btnP:focus{
    background:#100740 !important;
    box-shadow: 2px 6px 7px 4px rgb(199, 198, 198);
    color: #fff;
}

.btn90{
    background: #c79b2d!important;
    border:1px solid  #b68b2c!important;
    color: #fff;
    border-radius: 4px;
  
}

.btn90:hover{
   background:#b67a2d!important;
   box-shadow: 2px 6px 7px 4px rgb(199, 198, 198)!important;
   color: #fff;
}
.btn90:focus{
    background: #b67a2d!important;
   box-shadow: 2px 6px 7px 4px rgb(199, 198, 198)!important;
   color: #fff;
}


.boton2:hover{
background: hsla(0, 0%, 46%, 0.32) !important;
color: #e3e3e3 !important;
}

.boton2:focus{
    background: hsla(0, 0%, 46%, 0.32) !important;
    color: #e3e3e3 !important;
    }
.table-bordered{
    border:#ccc!important;
}

.table2{
    background:linear-gradient(to bottom ,#a1a0a0, #afafaf, #c2c2c2)!important;
    color: #fff;

}

.footer{
    background-color: #000026 !important;
    position:relative!important;
    bottom: 0!important;
    top:15%!important;
    width: 100%!important;
    
}
.container2{
    background: #000;
}

.input{
    background: #03032c9b !important;
}

.input:hover{
    color: #c79b2d !important;
    background:  rgba(9, 9, 9, 0.519) !important;
}

h4{
    position: relative;
    color: transparent;
    
}
h4::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #ffffff;
    padding-right: 2vw!important;
     overflow: hidden;
    background-color: rgba(02, 12, 45, 0.519) !important;
    animation: animate 8s linear infinite;
    -webkit-animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        width: 0;
    }
   100%{
        width: 100%;
    }
}
.card-header{
    background:linear-gradient(to bottom ,#07133a, #040855, #040442)!important;
}


.col-12{
    background-color: none!important;
}

.boton{
   background:linear-gradient(to bottom ,#040442, #000870, #040442)!important;
   color: #ffffff !important;
}

.boton:hover{
padding:1vw ;
background:#040442!important;
color:  #c79b2d!important;
box-shadow: 4px 5px 6px 3px rgba(26, 26, 26, 0.502);
 border:none!important;
}

.boton:focus{
    color:  #c79b2d !important;
   background:#040442!important;
    box-shadow: 2px 6px 7px 4px rgb(171, 170, 170);
    border:none!important;
    }

.ima{
   background:linear-gradient(to bottom ,#73777b, #bbb, #73777b)!important;
    
}

.form-control:hover{
    background: #f3f2f2!important;
    box-shadow: 2px 6px 7px 4px rgb(199, 198, 198);

}


.form-control:focus{
    background: #faf8f8 !important;
    box-shadow: 2px 6px 7px 4px rgb(199, 198, 198) !important;
    border: 1.5px solid#aeafb8 !important;
    

}   

.form-select:hover{
    background: #f3f2f2;
    box-shadow: 2px 6px 7px 4px rgb(199, 198, 198);
}

.form-select:focus{
    background: #faf8f8 !important;
    box-shadow: 2px 6px 7px 4px rgb(199, 198, 198) !important;
    border: 1.5px solid#aeafb8 !important;
}


.btn11{
    background: #cd0000!important;
    border:1px solid #600000 !important;
    color: #fff;
    border-radius: 4px;
}

.btn11:hover{
    background: #bd0000!important;
   box-shadow: 2px 6px 7px 4px rgb(199, 198, 198)!important;
   color: #fff;
}
.btn11:focus{
    background: #bd0000!important;
   box-shadow: 2px 6px 7px 4px rgb(199, 198, 198)!important;
   color: #fff;
}

.btn12{
    background: #008f20!important;
    border:1px solid #007000 !important;
    color: #fff;
    border-radius: 4px;
}

.btn12:hover{
    background: #006f20!important;
   box-shadow: 2px 6px 7px 4px rgb(199, 198, 198)!important;
   color: #fff;
}
.btn12:focus{
    background: #006f20!important;
   box-shadow: 2px 6px 7px 4px rgb(199, 198, 198)!important;
   color: #fff;
}
.btn1{
    background: #008f20!important;
    border:1px solid #007000 !important;
    border-radius: 5px !important;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    color: #fff;
}

.btn1:hover{
    background: #006f20!important;
   box-shadow: 2px 6px 7px 4px #000!important;
}
.btn1:focus{
    background: #006f20!important;
   box-shadow: 2px 6px 7px 4px #000!important;
}


.navbar-toggler{
    border:none!important;
}
.navbar-toggler:focus{
    border:none!important;
    
}

.h01{
    background-image: url("../assets/img/img12.png");
    background-repeat: space;
    background-size: 100%;
    background-position:center;
    border: 4px solid #000;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.h02{
    background-image: url("../assets/img/img13.png");
    background-repeat: space;
    background-size: 100%;
    background-position:center;
    border: 4px solid #000;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.h02{
    background-image: url("../assets/img/img14.png");
    background-repeat: space;
    background-size: 100%;
    background-position:center;
    border: 4px solid #000;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.text-left{
    font-family: Californian FB!important;
    
}
.fila:hover{
     box-shadow: 2px 6px 7px 4px #ddd;
     background:#faf9f9!important;
}


.opc{
    bottom: 0%!important;
    margin-bottom: 0%!important;
}

.barrita{
    background:#040855!important;
}

::selection{
    background: #000064;
    color: #fff;
}

p::selection{
    background: #000054;
    color: #fff;
}

::-webkit-scrollbar{
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,   #c79b2d, #d59d2d );

}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom,  #b68a1c,  #c79b2d );
  
}

::-webkit-scrollbar-track{
    background: rgba(9, 9, 9, 0.519);
}

::-webkit-scrollbar-track:hover{
    background: #ededed;
}

.sr:hover{

     box-shadow: 3px 7px 8px 5px #dedede!important;
}

 .venta{
  background:#ececec;

 }

.client{
  background: #ececec!important;
  margin-top: 34px!important;
  margin-left: 10px!important;
  margin-right: 10px!important;

}
.mod{
  height: 100%;
  background: transparent!important;
  border-radius: 5px!important;
}

.vent{
    background:#fff!important;
    box-shadow: 4px 5px 6px 3px #00000080!important;
}
.total{
  justify-content: flex-end!!important;
  margin-right: 20px!important;
  padding-right: 20px!important;
}

.event{
   background:linear-gradient( to top, #040855, #020217)!important;
   border-radius: 5px!important;

}
.text-left{
  color: #000!important;
  font-family: Times New Roman!important;
}

.BB:hover{
 background: #eee!important;
}

.BB:focus{
 background: #ddd!important;
}

.mmmm{
    text-decoration: none!important;
    transition:all 0.4s ease;
    background:linear-gradient(to bottom ,#07133a, #040855, #040442)!important;
    color: #fff;

}
    .mmmm:hover{
        color:#c79b2d !important;
        }
        .mmmm:focus{
            color:#c79b2d !important;
            }

.till{
    color:#042060 !important;
    -webkit-text-stroke:1px black!important;
}

.till2{
    color:#fff !important;
}

.alerta{
    background: #f6d7da!important;
    border:1px solid #cd0000!important;
    color:  #bd0000!important;
}
.X{
    color:  #cd0000!important;
}
.X:hover{
    color:  #bd0000!important;
}
#total_price {
    font-size: 2rem;
    padding-left: 0;
}

.invoicelist-footer table {
    float: right;
    width: 25%
    margin-bottom:4vw!important;
}

.invoicelist-footer table td {
    padding: 1rem 2rem 0 1rem;
    text-align: right
}

.invoicelist-footer table tr:nth-child(2) td {
    padding-top: 0
}

.invoicelist-footer table {
    font-size: 2rem;
    margin-bottom: 2em;
}

.tdd{
    font-size: 20px;
    padding-bottom: 5px;
}
.table1{
    background:linear-gradient(to bottom, #908f8fc3,#c1c1c1c3, #aeadadc3)!important;
    color: #fff;
    padding-top:5px!important;
    padding-bottom:5px!important;

}

.tax{
  background: #fff!important;
}

.paArriba{
  text-decoration: none!important;
  background: linear-gradient(to bottom ,#07133a, #040855, #040442)!important;
  border:2px solid #000!important;
  z-index: 99999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  box-shadow: 4px 5px 6px 3px #00000090!important;
  border-radius: 4px!important;

}

.paArriba:hover{
 background: linear-gradient(to bottom ,#07132a, #040840, #040430)!important;
 color: #c79b2d !important;
}

.paArriba > i{
 color:#fff!important;
 font-size: 25px!important;
 }

.buscar:focus{
     background: #faf8f8 !important;
     box-shadow: 2px 6px 7px 4px rgb(199, 198, 198) !important;
     border: 1.5px solid#aeafb8 !important;
}
.buscar:hover{
     background: #f3f2f2;
     box-shadow: 2px 6px 7px 4px rgb(199, 198, 198);
}

option:focus{
background: #faf8f8!important;
}
.select{
  background: #fff!important;
  border: 2px solid #ddd!important;
}

@media screen and (max-width: 959px){

  .tt{
    display: none!important;
  }
  .rr{
    justify-content: center;
    font-size:22px!important;
  }

}
@media screen and (max-width: 720px){

  .campo{
   width: 120px;
  }
  
}


@media screen and (max-width: 440px){

  .Produc{
    display: none;
  }
  
}


